<footer>
	<small>
		<a href="http://vinnews.com">All the world and Jewish news in one place</a> By vinnews.com
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
			<li><a href="http://news.railstutorials.com">Rails News</a></li>
		</ul>
	</nav>
</footer>